.customnav {
		margin: 0 0 0 0 !important;
		background-color: #e3e3e3;
		padding-top: 0;
}
.customnav > ul {
		margin: 0;
		padding: 0;
		list-style: none;
}
.customnav > ul > li {
		display: inline-block;
		padding: 20px 20px;
}
.customnav > ul > li > a {
		border: none;
		text-decoration: none;
		font-size: 13px;
		text-transform: uppercase;
}
.customnav > ul > .selected {
		background-color: #f3f3f3;
}
.center {
		text-align: center;
}
.centered-block {
		display: block;
		margin-left: auto;
		margin-right: auto;
}
.color-selection ul {
		list-style: none;
}
.color-selection {
		margin-top: 20px;
}
/************/

￼￼￼￼.acreditacionslidercontainter {
		padding: 0px;
		background-color: #fff;
		width: 960px;
		position: relative;
		position: relative;
		margin-left: auto;
		margin-right: auto;
}
.acreditacionslider {
		width: 960px;
		height: 500px;
		position: relative;
		overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
		.acreditacionslider,
		.acreditacionslidercontainter {
				width: 760px;
				height: 395px;
		}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
		.acreditacionslider,
		.acreditacionslidercontainter {
				width: 480px;
				height: 250px;
		}
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
		.acreditacionslider,
		.acreditacionslidercontainter {
				width: 320px;
				height: 166px;
		}
}
/*.bannercontainer {
		width: 100% !important;
		position: relative;
		padding: 0;
		max-height: 500px !important;
		overflow: hidden;
}*/
